{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронювання Салону Краси</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Телеграм бот для бронювання послуг у салоні краси!</h1>
            <p>Зручний і швидкий спосіб бронювання послуг у вашому салоні краси.</p>
        </header>
        <section>
            <h2>Функціонал:</h2>
            <ul>
                <li>Вибір дати та часу для послуги.</li>
                <li>Підбір послуги за категоріями: стрижка, манікюр, масаж та інші.</li>
                <li>Вибір спеціаліста, який виконуватиме обрану послугу.</li>
                <li>Незалежність вибору. Клієнти можуть спочатку обирати або Дату і час, послугу або спеціаліста. (Доступні послуги залежать від обранго спеціаліста, дати і т.д.)</li>
                <li>Інтеграція з Google Calendar. Бронювання з автоматичним занесенням в календар спеціаліста.</li>
                <li>Інтеграція з Google Sheets. Спеціалісти мають можливість самі позначати свої часи роботи.</li>
                <li>База даних. Всі записи і клієнти автоматично заносяться в базу даних.</li>
                <li>Клієнт має можливість подивитись всі свої майбутні бронювання.</li>
                <li>Бот написаний за допомогою кнопок керування, тому має тільки 2 команди:</li>
                <li>/start для нового бронювання</li>
                <li>/appointments для перегляду бронювань</li>
                <li>.</li>
            </ul>
        </section>
        <footer>
            <a href="https://t.me/beautiful1865_bot">Спробувати бот</a>
        </footer>
    </div>
</body>
</html>
